.album__data_type_year, .album__data_type_artist {
    font-family: 'William', serif;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal; 
    color: white;    
}